@font-face {
  font-family: "IBM Plex Mono";
  src: url("fonts/IBMPlexMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("fonts/IBMPlexMono-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("fonts/IBMPlexMono-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("fonts/IBMPlexMono-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("fonts/IBMPlexMono-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("fonts/IBMPlexMono-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("fonts/IBMPlexMono-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("fonts/IBMPlexMono-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("fonts/IBMPlexMono-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("fonts/IBMPlexMono-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  align-items: stretch;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.background-section {
  flex-basis: 25%;

  padding: 6rem 0 0.75rem;

  justify-content: space-between;

  background-image: url(assets/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.image-credit {
  align-self: center;
}

.form-section {
  --inline-padding: 3rem;
  --vertical-gap: 1.25rem;

  flex-basis: 75%;

  justify-content: center;
  gap: var(--vertical-gap);
}

.form-section > h2 {
  max-width: min(925px, 100%);
}

.white-background-wrapper {
  margin-block: var(--vertical-gap);

  padding: 1rem var(--inline-padding) 2rem;
}

.white-background-content {
  max-width: min(700px, 100%);

  --fields-row-vertical-gap: 1rem;
}

.white-background-content > h3 {
  margin-bottom: var(--fields-row-vertical-gap);
}

.fields-row {
  column-gap: 3rem;
  row-gap: var(--fields-row-vertical-gap);
  margin-bottom: var(--fields-row-vertical-gap);
}

label {
  text-transform: uppercase;
}

.fields-row > label {
  flex: 1;
}

.form-section > h2,
.form-section .white-background-wrapper,
.form-section .form-footer {
  padding-inline: var(--inline-padding);
}

.submit-button {
  margin-bottom: var(--vertical-gap);
}
